<h1 class="mt-5 text-center"> Change password </h1>

<%= form_with url: change_password_path , method: :post, html: { class: "d-flex flex-column align-items-center justify-conent-center gap-2 mt-4" } do |f| %>

  <%= f.label :current_password , style:"margin-right: 241px;" , class:"mt-1" %>
  <%= f.text_field :current_password , type: :password , placeholder: "Enter current password..." , class:"border-0 border-bottom border-top border-start ps-2 rounded" , style: "outline: none; width: 370px; height: 37px;" %>

  <%= f.label :new_password , style:"margin-right: 263px;" , class:"mt-1" %>
  <%= f.text_field :new_password , type: :password , placeholder: "Enter new password..." , class:"border-0 border-bottom border-top border-start ps-2 rounded" , style: "outline: none; width: 370px; height: 37px;" %>

  <%= f.label :password_confirmation , style:"margin-right: 210px;" , class:"mt-1" %>
  <%= f.text_field :password_confirmation , type: :password, placeholder: "Repeat new password..." , class:"border-0 border-bottom border-top border-start ps-2 rounded" , style: "outline: none; width: 370px; height: 37px;" %>

   <%= f.submit "Update" , class: "btn btn-success mt-3" , style:"width: 370px; height: 37px;" %>
<% end %>

<br /><br />